
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #213547;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    width: 350px;
    margin-left: 20rem;
    margin-top: 10px;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  
  }
  
  .search-icon {
    padding: 10px;
    color: #213547;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    
    font-size: 15px;
  }
  
  .search-button {
    background-color: #213547;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #474b52;
  }
  
  @media (min-width:321px) and (max-width:480px) {
    .search-container {
      height: 30px;
      width: 200px;
      margin-left: 12rem;
      margin-top: 13px;
    }
    
  }
  
  @media (min-width:481px) and (max-width:768px) {
    .search-container {
      margin-left: 15.5rem;
      margin-top: 13px;
    }
    
  }
  
  @media (min-width:769px) and (max-width:1024px) {
    
    .search-container {
      margin-left: 12.3rem;
      margin-top: 13px;
      width: 220px;
    }
  }
  