/* Recipe Preview Container */
.recipe-preview-container {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #d4f6e8;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  display: flex;
}

/* Recipe Preview Content */
.recipe-preview {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
}

/* Recipe Title */
.recipe-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

/* Recipe Details */
.recipe-details {
  font-size: 1rem;
  color: #555;
}

.recipe-details p {
  margin-bottom: 3px;
}

/* Ingredients and Instructions Section */
.recipe-details h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;

}

.recipe-image {
  margin-top: 2rem;
  text-align: center;

}

.recipe-image img {

  width: 300px;
  margin-right: 15px;
  border-radius: 8px;
  height: 400px;

}

/* Back to Home Button */
.back-to-home {
  margin: 2rem auto;
  border: none;

  font-size: 14px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 200px;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: #213547;
  width: 200px;
  padding: 0.5rem;
  border-radius: 0;
  border-radius: 5px;
  cursor: pointer;

}


/* Mobile View (max-width: 768px) */
@media (max-width: 768px) {
  .recipe-preview-container {
    width: 90%;
  }

  .recipe-title {
    font-size: 1.5rem;
  }

  .recipe-details h3 {
    font-size: 1rem;
  }

  .back-to-home {
    font-size: 14px;
  }
}

/* Tablet View (768px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .recipe-preview-container {
    width: 80%;
  }

  .recipe-title {
    font-size: 1.8rem;
  }

  .recipe-details h3 {
    font-size: 1.1rem;
  }

  .back-to-home {
    font-size: 15px;
  }
}

/* Desktop View (min-width: 1024px) */
@media (min-width: 1024px) {
  .recipe-preview-container {
    width: 70%;
  }

  .recipe-title {
    font-size: 2rem;
  }

  .recipe-details h3 {
    font-size: 1.2rem;
  }

  .back-to-home {
    font-size: 16px;
  }
}
/* Mobile View (max-width: 320px) */
@media (max-width: 320px) {
  .recipe-preview-container {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
  }

  .recipe-title {
    font-size: 1.2rem;
  }

  .recipe-details h3 {
    font-size: 0.9rem;
  }

  .recipe-image img {
    width: 100%;
    height: auto;
  }

  .back-to-home {
    font-size: 12px;
    width: 180px;
  }
}
/* Mobile View (min-width: 321px and max-width: 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .recipe-preview-container {
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
  }

  .recipe-title {
    font-size: 1.5rem;
  }

  .recipe-details h3 {
    font-size: 1rem;
  }

  .recipe-image img {
    width: 100%;
    height: auto;
  }

  .back-to-home {
    font-size: 13px;
    width: 180px;
  }
}
